.movie-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.left {
  margin-right: 20px;
}

.right {
  flex: 1;
}

.title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
  position:relative; 
  bottom:60px;
}

.plot {
  font-size: 24px;
  margin-bottom: 20px;
}

.price {
  font-size: 20px;
  font-weight: bold;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.rating {
  font-size: 16px;
  font-weight: bold;
  color: #fca311;
  position:relative; 
  top:60px;
}


.fav-btn,
.cart {
  padding: 10px;
  gap:20px;
  background-color: #fca311;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
   position: relative;
   top:100px;
   margin-right:16px
   

}

.fav-btn:hover,
.cart:hover {
  background-color: #e69500;
}

.fav-btn:focus,
.cart:focus {
  outline: none;
}

.fav-btn:active,
.cart:active {
  transform: scale(0.95);
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(217, 164, 16);
  padding: 10px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.icon {
  display: flex;
  align-items: center;
}

.icon img {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}

.icon span {
  font-size: 14px;
  font-weight: bold;
  position: relative;
  right:5px;
  bottom:10px;
}